
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="hero-wrap" style="background-image: url('/Asset/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
               
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <section class="ftco-section ftc-no-pb ftc-no-pt">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 p-md-5 img img-2 img-3 d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/bg_2.jpg');">
                                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                                    <span class="icon-play"></span>
                                </a>

                            </div>
                            <div>
                                <div class="sidebar-wrap bg-light ftco-animate" style="width: 400px; ">
                                    <h3 class="heading mb-4">Thông báo đặt phòng thành công</h3>
                                    <div class="sidebar-box ftco-animate">
                                        <h3>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi </h3>
                                        <p>Mã giao dịch:</p>
                                        <div class="form-group">

                                            <input type="text" class="form-control" placeholder="319550289">
                                        </div>
                                        <p>Mong bạn có thể đến checkin tại homestay trước 2:00PM</p>

                                    </div>
                                    
                                   
                                </div>
                            </div>




                        </div>

                    </div>
                </section>

            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">



                <div class="sidebar-box ftco-animate">
                    <h3>Top-rated Places</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('/Asset/images/image_1.jpg');"></a>
                        <div class="text">
                            <h2 class="heading"><a href="#">Top1: The belluy valley - Đà lạt</a></h2>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('/Asset/images/image_2.jpg');"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Top2: The deluna - Nha Trang</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('/Asset/images/image_3.jpg');"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Top3: Pop House - Đà nẵng</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</section>




