
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="hero-wrap" style="background-image: url('/Asset/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <h2 class="mb-4">Cloudy Garden - Vườn Mây Dalat</h2>
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                <div class="room-img" style="background-image: url('/Asset/images/room-1.jpg');"></div>
                            </div>
                            <div class="item"> 

                                <div class="room-img" style="background-image: url('/Asset/images/room-2.jpg');"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url('/Asset/images/room-3.jpg');"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url('/Asset/images/room-1.jpg');"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url('/Asset/images/room-2.jpg');"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url('/Asset/images/room-3.jpg');"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">

                        <div class="form-group">
                            <img src="~/Asset/images/visa.png" style="height:25px; width:25px;">
                            <h4>Đà lạt, Lâm đồng, Việt Nam</h4>
                        </div>
                        
                        <h4>Nhà riêng: 20m2</h4>
                        <h5>Phòng riêng · 1 phòng tắm · 1 giường · 1 phòng ngủ · 2 khách (tối đa 2 khách)</h5>



                        <p style="font-size: 20px;">Cloudy Garden - Vườn Mây Dalat là nơi bình yên mà bạn có thể thư giãn, làm mới bản thân, tái nạp năng lượng cho mình và gia đình. Một khu vườn nhỏ với một ít hoa, rau, gió sạch và view thung lũng mây cùng với view đồi thông xanh mát.</p>
                        <p style="font-size: 20px;">Vườn Mây cách trung tâm thành phố Đà Lạt 15 phút xe máy, và dành cho những ai đã đến Đà Lạt nhiều lần, giờ mong muốn tìm và khám phá không gian mới mẻ, yên tĩnh và cách xa phố thị đông đúc.</p>
                        <h4><p>Hướng dẫn đường đi đến Vườn Mây:</p></h4>
                        <p style="font-size: 20px;">
                            Vườn Mây nằm trên Dốc Đa Quý,<span id="dots">...</span><span id="more">
                                giữa Trại Mát và Đồi chè Cầu Đất và thuộc địa phận xã Xuân Thọ. Dốc Đa Quý - hay còn gọi là dốc Hoa đào Đa Quý, là nơi Vườn Mây toạ lạc, là một trong những nơi có hoa mai anh đào đẹp nhất Đà Lạt. Ngay trong dốc Đa Quý bạn có thể tham quan khám phá nhiều địa điểm thú vị như: Vườn lan Doly, ; Dalat Hasfarm cũng nằm ngay trong con đường này. Ngoài ra có rất nhiều vườn hoa, nhà trồng rau ở trong khu vực này mà bạn có thể đến thăm.

                                Khu vực lân cận - 5 phút xe máy từ Vườn Mây<br>

                                - Trại Mát: nơi nghỉ mát của vua Bảo Đại ngày trước<br>
                                <br>
                                - Cà phê chó Black Rock Garden<br>
                                <br>
                                - Xã Xuân Thọ: một trong những nơi cung cấp rau củ quả lớn nhất cho các tỉnh thành trên cả nước. Ở đây, bạn dễ dàng bắt gặp những thửa ruộng bậc thang trồng rau nối tiếp nhau như một bức tranh đa màu sắc.<br>
                                <br>
                                - Chùa Linh Phước (chùa Ve Chai) - Ngôi chùa giữ 11 kỷ lục Việt Nam các công trình trong khuôn viên của chùa đều được khảm các mảnh sành, sứ, mảnh chai bên ngoài.<br>
                                <br>
                                - Vườn hoa Cẩm Tú Cầu: rộng 2ha là một trong những điểm check-in rất đông đúc hiện nay<br>
                                <br>
                                - Ga xe lửa Trại Mát<br>
                                <br>
                                - Làng hoa Xuân Thành với hơn 100 hecta trồng hoa, đặc biệt là hoa layon đỏ<br>
                                <br>

                                - Vườn hoa Hướng dương<br>
                                <br>
                                - Vườn Cà chua đen<br>
                                <br>
                                - Vườn lan Doly: vườn lan lớn nhất nhì Đà lạt và cung cấp hoa lan chính cho Dalat Hasfarm<br>
                                <br>
                                - Dalat Hasfarm (cty hoa lớn nhất Dalat và có lẽ cả VN)<br>
                                <br>
                                - Cafe: Thung Lũng Đèn, Làng Vũ Thị, Sunny Farm, Panorama, Dốc Sương Mờ với các thể loại cầu thang vô cực lên thiên đường.<br>
                                <br>
                                - Thác Hang Cọp: hiện tại thác này đang đóng cửa để làm mới, tuy nhiên bạn cũng có thể khám phá nhiều cảnh thiên nhiên thú vị, những cây dứa khổng lồ trên đường vào thác<br>
                                <br>
                                - Nhà thờ Đa Lộc: với kiến trúc độc đáo nhà thờ Đa Lộc cũng là một điểm không thể bỏ qua.<br>
                            </span>
                        </p>

                        <button onclick="myFunction()" id="myBtn">Read more</button>






                        <div class="d-md-flex mt-5 mb-5">
                            <ul class="list" style="font-size:15px;">
                                <li ><span>Max:</span> 3 Persons</li>
                                <li><span>Size:</span> 45 m2</li>
                            </ul>
                            <ul class="list ml-md-5">
                                <li><span>View:</span> Sea View</li>
                                <li><span>Bed:</span> 1</li>
                            </ul>
                        </div>
       
                    </div>
                    <div class="col-md-12 room-single ftco-animate mb-5 mt-4">
                        <h3 class="mb-4">Take A Tour</h3>
                        <div class="block-16">
                            <figure>
                                <img src="~/Asset/images/room-4.jpg" alt="Image placeholder" class="img-fluid">
                                <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-12 properties-single ftco-animate mb-5 mt-4">
                        <h4 class="mb-4">Review &amp; Ratings</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <form method="post" class="star-rating">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 100 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i> 30 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 5 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">2 Comments</h3>
                        <ul class="comment-list">
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="~/Asset/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>John Doe</h3>
                                    <div class="meta">Decmener 7, 2018 at 2:21pm</div>
                                    <p>HomeStay đẹp, tiện nghi, gần trung tâm thành phố </p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>
                            </li>

                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="~/Asset/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                
                                <div class="comment-body">
                                    <h3>John Doe</h3>
                                    <div class="meta">Decmener 7, 2018 at 2:21pm</div>
                                    <p>Được phép nuôi động vật</p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>

                                <ul class="children">
                                    <li class="comment">
                                        <div class="vcard bio">
                                            <img src="~/Asset/images/person_1.jpg" alt="Image placeholder">
                                        </div>
                                        <div class="comment-body">
                                            <h3>John Doe</h3>
                                            <div class="meta">Decmener 7, 2018 at 2:21pm</div>
                                            <p>Tôi sẽ ghé thăm nếu có cơ hội</p>
                                            <p><a href="#" class="reply">Reply</a></p>
                                        </div>


                                       
                                    </li>
                                </ul>
                            </li>

                         
                        </ul>
                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form action="#" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 room-single ftco-animate mb-5 mt-5">
                        <h4 class="mb-4">Tương tự</h4>
                        <div class="row">
                            <div class="col-sm col-md-6 ftco-animate">
                                <div class="room">
                                    <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/room-1.jpg');">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3 text-center">
                                        <h3 class="mb-3"><a href="rooms.html">Kimi HomeStay </a></h3>
                                        <p><span class="price mr-2">$120.00</span> <span class="per">per night</span></p>
                                        <hr>
                                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm col-md-6 ftco-animate">
                                <div class="room">
                                    <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/room-2.jpg');">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>

                                    <div class="text p-3 text-center">
                                        <h3 class="mb-3"><a href="rooms.html">Giuliani HomeStay</a></h3>
                                        <p><span class="price mr-2">$20.00</span> <span class="per">per night</span></p>
                                        <hr>
                                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">


                <div class="sidebar-wrap bg-light ftco-animate">
                    <h3 class="heading mb-4">Đặt phòng</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Check In Date">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkout_date" placeholder="Check Out Date">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Loại Homestay</option>

                                        <option value="">Family Homestay</option>
                                        <option value="">Deluxe Homestay</option>
                                        <option value="">Classic Homestay</option>
                                        <option value="">Superior Homestay</option>
                                        <option value="">Luxury Homestay</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Loại dịch vụ</option>

                                        <option value="">Giặt sấy</option>
                                        <option value="">Wifi</option>
                                        <option value="">Tự nấu ăn</option>
                                        <option value="">Được mang vật nuôi</option>
                                        <option value="">Giữ xe</option>
                                        <option value="">Dọn phòng</option>
                                    </select>
                                </div>
                            </div>

                            
                           
                            <div class="form-group">
                                <input type="button" value="Đặt phòng" class="btn btn-primary py-3 px-5" onclick="location.href='@Url.Action("Index","ThongTinDatPhong")'">


                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->


<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>
<style>
    #more {
        display: none;
    }
</style>