@{
    ViewBag.Title = "Home Page";
}


<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url('/Asset/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Welcome To Deluxe</h1>
                        <h2>Hotels &amp; Resorts</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url('/Asset/images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Enjoy A Luxury Experience</h1>
                        <h2>Join With Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="ftco-booking">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="booking-form">
                    <div class="row" style="width:100%;">

                        <div class="col-md-3 d-flex" style="display: inline-block">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Check-in Date</label>
                                    <input type="text" class="form-control checkin_date" placeholder="Check-in date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex" style="display: inline-block">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Check-out Date</label>
                                    <input type="text" class="form-control checkout_date" placeholder="Check-out date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex" style="display: inline-block">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Customer</label>
                                    <div class="form-field">
                                        <input type="text" name="SoLuong" style="width: 100px;"><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex" style="display: inline-block">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Địa điểm</label>
                                    <div class="form-field">
                                        <input type="text" name="firstname"><br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md d-flex" style="display: inline-block; width: 100px;">
                            <div class="form-group d-flex align-self-stretch">
                                <input type="button" value="Search" class="btn btn-primary py-3 px-4 align-self-stretch" onclick="location.href='@Url.Action("Index","Search")'">

                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <!--=========================danh mục ==============================-->
    <div class="container">

        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Asset/images/image_4.jpg');
    ">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="#">STAY</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Asset/images/image_1.jpg');">
                    </a>
                    <div class="text mt-3 d-block">
                        <h3 class="heading mt-3"><a href="#">EXPERIENCES</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Asset/images/image_3.jpg');">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="#">Adventures</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--=========================End danh mục ==============================-->
    <!--=========================Top đề cử ==============================-->
    <div class="container" style="width: 100%">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Introducing  Adventures </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="@Url.Action("Index","ChiteitPhong")" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/1.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Vườn Mây Dalaty</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">2 khách · 1 phòng ngủ · 1 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/2.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Zen's Home </a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/ night</span></p>
                        <p><span class="per">16 khách · 4 phòng ngủ · 4 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/23.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Andi  Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Places to stay in Hà Nội </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="@Url.Action("Index","ChiteitPhong")" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/18.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">An An Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">6 khách · 2 phòng ngủ · 1 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/27.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Bé Húng House</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">2 khách · 1 phòng ngủ · 1 phòng tắm</span></p>


                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/26.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Tom's Valley</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">10 khách · 5 phòng ngủ · 4 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">
                    Experiences in Hà Nội
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/20.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">La'ber House</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/25.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Meo Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/24.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Bébys Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Places to stay in Đà Nẵng</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/19.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Bébys Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/20.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Bébys Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/22.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Dehan Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Experiences in Đà Nẵng</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/21.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Maison Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/24.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Ameiii Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/23.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Nhà của Lam</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Places to stay in Hồ Chí Minh</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/1.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Thảo Nguyên Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/2.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">De Bleu La Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/23.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Híp Tom Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Experiences in Hồ Chí Minh</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/27.jpg');
">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Mắm Homestay</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="        background-image: url('/Asset/images/img1/18.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Tía Di House</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="rooms.html" class="img d-flex justify-content-center align-items-center" style="background-image: url('/Asset/images/img1/26.jpg');">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="rooms.html">Mộc Lan Villa</a></h3>
                        <p><span class="price mr-2">$20.00</span> <span class="per">/night</span></p>
                        <p><span class="per">8 khách · 3 phòng ngủ · 2 phòng tắm</span></p>

                        <hr>
                        <p class="pt-1"><a href="room-single.html" class="btn-custom">View  Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>
                    Top-rated Places
                </h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Asset/images/image_1.jpg');">
                    </a>
                    <div class="text mt-3 d-block">
                        <h3 class="heading mt-3"><a href="#">Top1: The deluna - Nha Trang</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="        background-image: url('/Asset/images/image_2.jpg');">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="#">Top2: The belluy valley - Đà lạt</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Asset/images/image_3.jpg');">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="#">Top3: Pop House - Đà nẵng</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Asset/images/image_4.jpg');
    ">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="#">Top4: Kimi HomeStay - Sapa</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Dec 6, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


